VITE_API_BASE_URL=http://localhost:8000
VITE_TOKEN_NAME=CARGO_SAAS_BACKOFFICE_TOKEN
VITE_NOT_AUTH=CARGO_SAAS_NOT_AUTH
VITE_EXPIRY_PASS=CARGO_SAAS_EXPIRY_PASS
VITE_CACHE_ROUTE=CARGO_SAAS_CACHE_ROUTE
VITE_LANGUAGE_KEY=cargo_saas_language
VITE_BOOTSTRAP_ACTION=app0020
VITE_DICTIONARY_ACTION=gen0070
